.container {
    -fx-background-color: linear-gradient(to right,  #e2bd53 65%, white 65%);
    -fx-background-image: url("../../../assets/icons/icon.png"), url("../../../assets/shape/circle.png"),url("../../../assets/shape/circle.png");
    -fx-background-repeat: stretch;
    -fx-background-position:  top 10%  left 10%, top 115% right 105% , left 8% bottom 20%;
    -fx-background-size: 20%,15%,4%;
}

.form{
    -fx-background-color: white;
    -fx-background-radius: 18px;
}
.title {
    -fx-text-fill: #575552 ;
    -fx-font-size: 20pt;
    -fx-font-weight: 900;
}

.title-container{
    -fx-text-fill: white ;
    -fx-font-size: 30pt;
    -fx-font-weight: 800;
}
.message-container{
    -fx-text-fill: white ;
    -fx-font-size: 15pt;
    -fx-font-weight: 500;
}
.item-form {
    -fx-text-fill: #575552;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
}
.button{
    -fx-background-color: #e1bc5c;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.error-message{
    -fx-text-fill: tomato;
    -fx-font-size: 14px;
}